.hero {
    padding: var(--padding-large) calc(3 * var(--padding-large));
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    align-items: center;
    margin: 0 !important;
}

.hero .brand img {
    margin-left: 30px;
}

@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
    }

    .hero .brand img {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: var(--padding-medium) calc(2 * var(--padding-medium));
    }

    .hero .brand img {
        height: 200px !important;
    }

    .hero .info {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .hero .info button {
        align-self: center;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: var(--padding-small) calc(1.5 * var(--padding-small));
        padding-top: 30px;
    }

    .hero .brand img {
        height: 100px !important;
    }

    .hero button {
        padding: 8px 25px;
        font-size: 14px;
    }
}

.hero .brand img {
    height: 250px;
    border-radius: var(--border-radius-large);
}

.hero .info ul {
    list-style-type: disclosure-closed;
}

.hero .info ul li {
    margin: 8px 0;
}

.hero .info p {
    line-height: 25px;
}

.hero button {
    position: relative;
    padding: 12px 35px;
    background: #1e90ff;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #1e90ff;
    border-radius: 8px;
    box-shadow: 0 0 0 #1e90ff8c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: system-ui;
}

.star1,
.star2,
.star3,
.star4,
.star5,
.star6 {
    position: absolute;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star1 {
    top: 20%;
    left: 20%;
    width: 25px;
}

.star2 {
    top: 45%;
    left: 45%;
    width: 15px;
}

.star3 {
    top: 40%;
    left: 40%;
    width: 5px;
}

.star4 {
    top: 20%;
    left: 40%;
    width: 8px;
}

.star5 {
    top: 25%;
    left: 45%;
    width: 15px;
}

.star6 {
    top: 5%;
    left: 50%;
    width: 5px;
}

.hero button:hover {
    background: transparent;
    color: #1e90ff;
    box-shadow: 0 0 25px #1e90ff8c;
}

.hero button:hover .star1 {
    top: -80%;
    left: -30%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.hero button:hover .star2 {
    top: -25%;
    left: 10%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.hero button:hover .star3 {
    top: 55%;
    left: 25%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.hero button:hover .star4 {
    top: 30%;
    left: 80%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.hero button:hover .star5 {
    top: 25%;
    left: 115%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.hero button:hover .star6 {
    top: 5%;
    left: 60%;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #fffdef;
}