<header>
    <div class="branding">
        <a href="/">
            <img src="./favicon.ico" alt="Upayan">
            <h1>Smart Home System</h1>
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/registration">
                    Signup
                </a>
            </li>
            <li>
                <a href="/login">
                    Login
                </a>
            </li>
        </ul>
    </nav>
</header>