.counter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 50vw;
    margin: auto;
}

.counter-container:hover {
    cursor: default;
}

.counter {
    display: flex;
    flex-direction: column;
    background-color: rgba(216, 216, 216, 0.425);
    height: 80px;
    width: 80px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    border: 8px rgb(45 45 45 / 97%) solid;
    transition: all 0.2s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
}

.counter-container:hover .counter {
    border-color: rgb(45, 45, 45);
    box-shadow: 0 0 6px 3px rgba(124, 18, 181, 0.202);
}