@font-face {
    font-family: 'RedHatDisplay';
    src: url('./fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
}

:root {
    --body-background-color: #060606;
    --main-background: transparent;
    --header-background-color: #1e1e1ebc;
    --header-initial-background-color: #1c1c1c;
    --footer-background: transparent;
    --sidebar-background-color: rgba(30, 30, 30, 0.9);
    --form-background-color: rgba(30, 30, 30, 0.7);
    --glass-background-color: rgba(255, 255, 255, 0.07);
    --glass-background-hover-color: rgba(255, 255, 255, 0.1);
    --scrollbar-background-color: #0b0b0b;

    --text-color: #ffffff;
    --link-text: #1E90FF;
    --link-hover-text: #00BFFF;
    --padding-small: 0.625rem;
    --padding-medium: 0.9375rem;
    --padding-large: 1.5625rem;

    --margin-small: 0.3125rem;
    --margin-medium: 0.625rem;
    --margin-large: 0.9375rem;

    --border-radius-small: 0.3125rem;
    --border-radius-medium: 0.625rem;
    --border-radius-large: 0.9375rem;

    --screen-horizontal-margin: 200px;
}

@media (max-width: 1024px) {
    :root {
        --screen-horizontal-margin: 150px;
    }
}

@media (max-width: 768px) {
    :root {
        --screen-horizontal-margin: 50px;
    }
}

@media (max-width: 480px) {
    :root {
        --screen-horizontal-margin: 15px;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
}

body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-family: 'RedHatDisplay', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    background: var(--main-background);
    margin: 0 var(--screen-horizontal-margin);
    min-height: 60vh;
    overflow: hidden;
    padding-bottom: 100px;
}

@media (max-width: 768) {
    main {
        padding-bottom: 50px;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    margin: 50px 0;
    scroll-margin-top: 150px;
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;
    animation-delay: calc(var(--index) * 0.2s);
}

section:nth-child(1) {
    --index: 0;
}

section:nth-child(2) {
    --index: 1;
}

section:nth-child(3) {
    --index: 2;
}

section:nth-child(4) {
    --index: 3;
}

.sectionHeading h2 {
    color: #e3e2e9c6;
    transition: all 0.2s ease-in-out;
}

.sectionHeading:hover h2 {
    color: #e3e2e9;
}

.container {
    margin: 0 auto;
    padding: 20px 30px;
}

.container.container-purple {
    background: var(--light-purple);
}

.container.container-dark {
    background: var(--dark-background);
    color: var(--dark-text);
}

.container.container-center {
    text-align: center;
}

.container.container-spacing-xl {
    padding: 4px 10px;
}

/* DESIGN --------------------------------------- */
.ellipsis {
    position: absolute;
    width: 400px;
    height: 400px;
    background: radial-gradient(57.58% 57.58% at 48.79% 42.42%,
            rgba(24, 180, 244, 0.5) 0%,
            rgba(46, 55, 114, 0) 63.22%);
    transform: rotate(5deg);
    opacity: 0.5;
    z-index: -1;
}

@media (max-width: 1024px) {
    .ellipsis {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.ellipsis.ellipsis-purple {
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(172, 127, 244, 0.5) 0%,
            rgba(21, 25, 52, 0) 100%);
    transform: rotate(-5deg);
}

.ellipsis.ellipsis-blue {
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(34, 88, 215, 0.5) 0%,
            rgba(21, 25, 52, 0) 100%);
    transform: rotate(-5deg);
}

.ellipsis.ellipsis-green {
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(2, 255, 48, 0.5) 0%,
            rgba(21, 25, 52, 0) 100%);
    transform: rotate(-5deg);
}

.ellipsis.ellipsis-red {
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(168, 0, 0, 0.5) 0%,
            rgba(21, 25, 52, 0) 100%);
    transform: rotate(-5deg);
}

.ellipsis.ellipsis-yellow {
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(219, 246, 48, 0.41) 0%,
            rgba(52, 35, 21, 0) 100%);
    transform: rotate(-5deg);
}

@media screen and (min-width: 768px) {
    .ellipsis {
        width: 1400px;
        height: 800px;
    }

    .ellipsis.ellipsis-red {
        width: 1400px;
        height: 800px;
    }

    .ellipsis.ellipsis-green {
        width: 1400px;
        height: 800px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    margin: var(--margin-medium) 0;
}

p {
    margin: var(--margin-medium) 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
    color: var(--link-text);
    transition: color 0.3s;
}

a:hover {
    color: var(--link-hover-text);
}

button {
    padding: var(--padding-small) var(--padding-medium);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
    border: 2px solid var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}