.hero {
    padding: var(--padding-large) calc(3*var(--padding-large));
    display: flex;
    flex-direction: row;
    gap: var(--padding-large);
    height: 60vh;
    align-items: center;
    margin: 0 !important;
}