.join {
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.join .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
}

.join .left h1 {
    font-size: 2rem;
}

.join .left p {
    font-size: 1.5rem;
}

.join .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}