.products {
    background-color: rgba(92, 92, 92, 0.31);
    padding: var(--padding-large);
    border-radius: 5dvh;
}

.product-container {
    display: flex;
    flex-direction: column;
}

.product {
    background-color: rgba(0, 0, 0, 0.281);
    margin: 10px;
    padding: 20px;
    border-radius: 50dvh;
}

.product ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.product-image {
    border-radius: 90px;
}

.product-content {
    margin-left: 50px;
}