#products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#products h2,
#products p {
    text-align: center;
}

@media (max-width: 1024px) {
    #products {
        padding: 15px;
    }
}

#products .shop {
    background-color: rgb(21, 21, 21);
    color: white;
    border-radius: var(--border-radius-small);
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    align-self: center;
    padding: 10px 20px;
    cursor: pointer;
}

#products .shop:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.product {
    background: linear-gradient(90deg, var(--glass-background-color), transparent);
    border-radius: 10dvh 5dvh 5dvh 10dvh;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: light) {
    .product {
        box-shadow: none;
        background: none;
    }
}

@media (max-width: 1024px) {
    .product {
        background: transparent;
        box-shadow: none;
    }

    .product a {
        padding: 5px 10px;
        margin-top: 10px;
        transition: all 0.3s ease-in-out;
    }
}

.product p {
    text-align: left !important;
}

.product:hover {
    background: linear-gradient(90deg, var(--glass-background-hover-color), transparent);
}

@media (prefers-color-scheme: light) {
    .product:hover {
        background: transparent;
    }
}

@media (max-width: 1024px) {
    .product:hover {
        background: transparent;
        box-shadow: none;
    }

    .product:hover a {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.428);
        border-radius: 10dvh;
    }
}

.product ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
    align-items: center;
}

.product ul img {
    width: 100px;
    height: 100px;
    border-radius: 50dvh;
    border: 8px rgb(55, 55, 55) solid;
    box-shadow: 0 0 6px 2px rgb(234, 194, 107);
}