header {
    padding: var(--padding-medium) var(--screen-horizontal-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background-color);
    animation: changeColor 1s forwards;
    position: sticky;
    top: 0;
    backdrop-filter: blur(15px);
    transition: box-shadow 0.3s;
    z-index: 1000;
}

header:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.295);
}

@keyframes changeColor {
    0% {
        background-color: var(--header-initial-background-color);
    }

    100% {
        background-color: var(--header-background-color);
    }
}

header a {
    color: rgb(185 184 184);
}

header .branding {
    background-color: var(--glass-background-color);
    padding-right: var(--padding-large);
    border-radius: 50px 40px 20px 50px;
}

header .branding a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-family: Verdana;
}

header .branding a img {
    transition: all 0.3s;
    border-radius: 50%;
}

header .branding:hover a img {
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.295);
}

header nav {
    padding: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
    width: max-content;
    padding: var(--padding-medium);
    background-color: var(--glass-background-color);
    border-radius: 50dvh;
    transition: box-shadow 0.3s;
    height: 100%;
}

header nav ul:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.295);
}

header nav ul li {
    padding: var(--padding-small) 0;
}

header nav ul li a {
    padding: var(--padding-small);
    transition: background-color 0.1s ease;
    border-radius: 10dvh;
}

header nav ul li:hover a {
    color: rgb(71, 71, 71);
    background-color: var(--glass-background-hover-color);
    border-radius: 10dvh;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}

.heading {
    padding-left: var(--padding-large);
    margin-bottom: var(--margin-medium);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: calc(var(--screen-horizontal-margin) - calc(2*var(--padding-large)));
    width: fit-content;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    padding: 20px 35px 25px 20px;
    box-sizing: border-box;
    z-index: 999;
    margin-top: 130px;
    border-radius: 0 0 50px 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar a {
    color: #838383;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    display: block;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    color: white;
}

.sidebar li {
    margin-bottom: 15px;
}

footer {
    padding: var(--padding-medium) var(--screen-horizontal-margin);
    background: var(--footer-background);
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 30px;
    padding: 0;
    margin: 15px 0 30px;
}

footer .social-links a img {
    height: 30px;
    background-color: var(--glass-background-color);
    border-radius: 10dvh;
    padding: 5px;
    transition: all 0.3s;
}

footer .social-links a img:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.295);
    background-color: var(--glass-background-hover-color);
}