/* Header */
header {
    padding: var(--padding-medium) var(--screen-horizontal-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background-color);
    animation: changeColor 1s forwards;
    position: sticky;
    top: 0;
    backdrop-filter: blur(50px);
    transition: box-shadow 0.3s;
    z-index: 1000;
}

header:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.295);
}

@keyframes changeColor {
    0% {
        background-color: var(--header-initial-background-color);
    }

    100% {
        background-color: var(--header-background-color);
    }
}

header a {
    color: rgb(185 184 184);
}

header .branding {
    background-color: var(--glass-background-color);
    padding-right: var(--padding-large);
    border-radius: 50px 40px 20px 50px;
}

header .branding a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-family: Verdana;
}

header .branding a img {
    transition: all 0.3s;
    border-radius: 50%;
}

header .branding:hover a img {
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.295);
}

header nav {
    padding: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
    width: max-content;
    padding: var(--padding-medium);
    background-color: var(--glass-background-color);
    border-radius: 50dvh;
    transition: box-shadow 0.3s;
    height: 100%;
}

header nav ul:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.295);
}

header nav ul li {
    padding: var(--padding-small) 0;
}

header nav ul li a {
    padding: var(--padding-small);
    transition: background-color 0.1s ease;
    border-radius: 10dvh;
}

header nav ul li:hover a {
    color: rgb(71, 71, 71);
    background-color: var(--glass-background-hover-color);
    border-radius: 10dvh;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
    }

    header .branding {
        display: none;
    }
}

/* Page Heading */
.heading {
    /* Page heading is skipped on home page for allowing hero to take maximum space */
    padding-left: var(--padding-large);
    margin-bottom: var(--margin-medium);
}

/* Sidebar */
.sidebar {
    max-width: var(--screen-horizontal-margin);
    width: fit-content;
    height: calc(100vh - 150px);
    background-color: var(--sidebar-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: var(--padding-large);
    position: fixed;
    top: 130px;
    left: 0;
    overflow-y: hidden;
    align-items: center;
    display: flex;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 12px 15px;
    color: #bbbbbb;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 8px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.menu-item:active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Footer */

.footer {
    background: var(--footer-background);
    padding: var(--padding-medium) var(--screen-horizontal-margin);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    padding: 0 var(--padding-large);
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff;
}

.footer-column a {
    display: block;
    color: #bbbbbb;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333333;
    padding-top: 15px;
}

.social-media a {
    margin-right: 15px;
    color: #bbbbbbd0;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #ffffff;
}

.footer-buttons button {
    border: none;
    margin-left: 10px;
    border-radius: 10dvh;
    transition: background-color 0.3s;
}

#footer-joinNow-button {
    background-color: #333333;
    color: azure;
}

#footer-joinNow-button:hover {
    background-color: #404040;
}

#footer-getInTouch-button {
    background-color: #ffffff;
    color: #333333;
    transition: all 0.2s ease-in-out;
}

#footer-getInTouch-button:hover {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.14);
}

#go-top {
    background-color: #1e1e1e77;
    color: white;
    transition: all 0.3s ease-in-out;
}

#go-top:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.171);
}

#go-top:active {
    transform: scale(0.95);
}