header {
    padding: var(--padding-medium) var(--screen-horizontal-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background-color);
    animation: changeColor 1s forwards;
    position: sticky;
    top: 0;
    backdrop-filter: blur(15px);
}

@keyframes changeColor {
    0% {
        background-color: var(--header-initial-background-color);
    }

    100% {
        background-color: var(--header-background-color);
    }
}

header a {
    color: rgb(185 184 184);
}

header .branding a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

header .branding a img {
    transition: all 0.3s;
    border-radius: 50%;
}

header .branding:hover a img {
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.295);
}

header nav {
    padding: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
    width: max-content;
    padding: var(--padding-medium);
    background-color: var(--glass-background-color);
    border-radius: 50dvh;
    transition: box-shadow 0.3s;
}

header nav ul:hover {
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.295);
}

header nav ul li {
    display: inline;
    padding: var(--padding-small);
    transition: background-color 0.1s ease;
    border-radius: 10dvh;
}

header nav ul li:hover {
    background-color: var(--glass-background-hover-color);
    border-radius: 10dvh;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.229);
}

header nav ul li:hover a {
    color: rgb(81, 81, 81);
}

footer {
    padding: var(--padding-medium) var(--screen-horizontal-margin);
    background: var(--footer-background);
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 30px;
    padding: 0;
    margin: 15px 0 30px;
}

footer .social-links a img {
    height: 30px;
    background-color: var(--glass-background-color);
    border-radius: 10dvh;
    padding: 5px;
    transition: all 0.3s;
}

footer .social-links a img:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.295);
    background-color: var(--glass-background-hover-color);
}