.container {
  background-color: #0d1117;
  color: #c9d1d9;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #58a6ff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

select,
input,
button {
  padding: 10px;
  margin: 5px 0;
  background-color: #161b22;
  border: 1px solid #30363d;
  color: #c9d1d9;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: #238636;
  border-color: #238636;
  color: #ffffff;
}

button:hover {
  background-color: #2ea043;
}

.deviceList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.deviceItem {
  background-color: #161b22;
  padding: 15px;
  border-radius: 8px;
  cursor: move;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deviceItem button {
  background-color: #da3633;
}

.deviceItem button:hover {
  background-color: #f85149;
}

.deviceItem span {
  color: #c9d1d9;
  font-weight: bold;
}

.room {
  background-color: #0d1117;
  padding: 20px;
  border-radius: 10px;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px dashed #58a6ff;
}

.roomSpot {
  background-color: #161b22;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c9d1d9;
  border: 1px solid #30363d;
}

.roomSpot:hover {
  background-color: #21262d;
}