@font-face {
    font-family: 'RedHatDisplay';
    src: url('./fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
}

:root {
    --body-background-color: #0c233d;
    --main-background-color: linear-gradient(135deg, rgba(0, 0, 0, 0.3), transparent, rgba(0, 0, 0, 0.4));
    --header-background-color: rgb(148 198 213 / 32%);
    --footer-background-color: rgb(57, 57, 57);
    --form-background-color: rgba(201, 201, 201, 0.3);
    --scrollbar-background-color: #14181c;
    --scrollbar-color: rgb(88, 88, 88);
    --scrollbar-hover-color: rgb(136, 136, 136);

    --padding-small: 10px;
    --padding-medium: 15px;
    --padding-large: 25px;

    --margin-small: 5px;
    --margin-medium: 10px;
    --margin-large: 15px;

    --border-radius-small: 5px;
    --border-radius-medium: 10px;
    --border-radius-large: 15px;
}

html {
    font-size: 18px;
}

body {
    font-family: 'RedHatDisplay', sans-serif;
    background-color: var(--body-background-color);
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: var(--header-background-color);
    backdrop-filter: blur(15px);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 150px;
    height: 96px;
}

header a {
    color: white;
}

header .branding {
    vertical-align: middle;
    text-align: center;
}

header .branding a {
    color: white;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    vertical-align: middle;
    text-align: center;
    justify-content: space-between;
}

header .branding img {
    height: 50px;
    border-radius: 50%;
    margin: auto;
    margin-right: 30px;
}

header nav {
    align-self: center;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 8px;
    padding: var(--padding-medium) 5px;
    border-radius: 10dvh;
    border: outset 2px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(181, 181, 181, 0.236);
    transition: all 0.15s ease-in-out;
}

header nav ul:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

header nav ul li a {
    border-radius: 10dvh;
    padding: var(--padding-small) var(--padding-medium);
    transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
    background-color: #38586d8d;
    box-shadow: 1px 1px 5px 7px rgba(181, 181, 181, 0.236);
}

footer {
    background-color: var(--footer-background-color);
    bottom: 0;
    text-align: center;
    align-items: center;
    padding: var(--padding-medium);
    height: 170px;
}

footer h3 {
    cursor: default;
}

footer a img {
    height: 16px;
    background-color: rgba(255, 255, 240, 0.4);
    padding: var(--padding-small);
    border-radius: 50%;
    margin: 0 5px;
    transition: all 0.2s ease;
}

footer a img:hover {
    background-color: rgba(255, 255, 240, 0.6);
}

footer p {
    margin-top: 5px;
    margin-bottom: 0;
}

footer p:hover {
    cursor: default;
}

a {
    text-decoration: none;
}

form {
    background-color: var(--form-background-color);
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: none;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10dvh;
    box-sizing: border-box;
    transition: border-color 0.3s;
    background-color: #93979a38;
    color: white;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10dvh;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

main {
    padding: 25px 200px;
    background: var(--main-background-color);
    min-height: calc(60vh);
}

main h1 {
    padding-top: 0;
    margin-top: 0;
}

.hero {
    background-color: #5c5c5c4f;
    border-radius: var(--border-radius-large);
    padding: var(--padding-large);
    display: flex;
    flex-direction: row;
    gap: 30px;
    vertical-align: middle;
}

.hero .info {
    align-self: center;
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-background-color);
    width: 8px;
}

::-webkit-scrollbar-track {
    border: 2px var(--scrollbar-color) solid;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover-color);
}