.formContainer {
    background-color: var(--form-background-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.formHeading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #e0e0e0;
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

.formContainer label {
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 1em;
    color: #cfcfcf;
    align-self: flex-start;
}

@media (prefers-color-scheme: light) {
    .formContainer label {
        color: rgb(64, 64, 64);
    }
}

.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer input[type="password"] {
    background-color: #d7d7d718;
    color: #ffffff;
    border: 1px solid #444444;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.formContainer input[type="text"]:focus,
.formContainer input[type="email"]:focus,
.formContainer input[type="password"]:focus {
    border-color: #3b82f6;
}

.formContainer button {
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.formContainer button:hover {
    background-color: #2563eb;
}

.formContainer p {
    text-align: start;
}

.formContainer p a {
    margin-top: 10px;
    text-align: center;
    color: #3b82f6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.formContainer p a:hover {
    color: #2563eb;
}

@media (max-width: 600px) {
    .formContainer {
        padding: 15px;
    }

    .form-heading {
        font-size: 1.5em;
    }

    .formContainer input[type="text"],
    .formContainer input[type="email"],
    .formContainer input[type="password"] {
        font-size: 0.9em;
        padding: 8px;
    }

    .formContainer button {
        font-size: 0.9em;
        padding: 8px;
    }
}