.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    color: #ffffff;
    min-height: 70vh;
  }
  
  .card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .icon {
    font-size: 2rem;
    color: #126bbf;
  }
  
  .content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .content p {
    text-align: left;
  }

  .div {
    display: flex;
    text-align: left !important;
    justify-content: flex-start;
  }
  
  .progressBar {
    width: 100%;
    height: 10px;
    background: #333;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .progressFill {
    height: 100%;
    background: #126bbf;
    transition: width 0.3s ease-in-out;
  }
  
  .loader {
    font-size: 1.5rem;
    color: #126bbf;
    text-align: center;
    margin-top: 20px;
  }
  